.forum-news-feed {
  width: 100%;
  max-width: 1366px;
  min-width: 960px;
  margin: 0 auto;
}
.forum-news-feed h1 {
  text-align: center;
}
.forum-news-feed textarea {
  font-family: "Arial";
  display: block;
  width: 85%;
  margin: 0 auto;
  resize: none;
  height: 70px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.mailer {
  width: 85%;
  margin: 0 auto;
}
.select-mailer {
  width: 50%;
  height: 35px;
  display: inline-block;
}
.send-message {
  display: inline-block;
  margin-left: 10%;
  height: 35px;
}
.messages-list {
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
}